@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Outfit:wght@400;700&display=swap');
 body{
    background-color: hsl(0, 0%, 100%);
    font-family: 'Hanken Grotesk', sans-serif;
 }
 p{
    font-size: 16px;
 }
 h1{
    font-weight: 700;
    font-size: 45px;
 }
 .result_p{
    width: 200px;
    font-size: 15px;
    text-align: center;
    line-height: 18px;
 }
 .result{
    background-image: linear-gradient(to bottom,hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    color: white;
    display: flex;
    flex-direction: column;
     justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    border-radius: 20px;
      
 
 
   }
 .result_circle{
    background-image:linear-gradient(to bottom,hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    width: 150px;
    height: 150px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 0px;
     }
.result_great{
            text-align: center;
      }
 .your_result{
         margin-bottom: 20px;
     }
.summary{
      display: flex;
    flex-direction: column;
    width:260px;
    height: 360px;
   padding: 20px 20px 20px 35px;
   
    
}
 
 .summary_heading{
    font-size: 20px;
    font-weight: 700;
    margin-top: 8px;
    margin-bottom: 25px;
 }
 .summary_contents{
    font-weight: 600;
 }
 .summary_div{
   display: grid;
   grid-template-columns: 30px 150px 10px;
 }
 .summary_contents :nth-child(1){
   background-color: hsl(0, 100%, 95%);
   border-radius: 4px;
  }
  .summary_contents :nth-child(2){
   background-color: hsl(39, 100%, 95%);
   border-radius: 4px;
  }
  .summary_contents :nth-child(3){
   background-color:hsl(166, 100%, 95%);
   border-radius: 4px;
  }
  .summary_contents :nth-child(4){
   background-color:  hsl(234, 85%, 95%);
   border-radius: 4px;
  }
 .summary_div{
  margin-bottom: 10px;
  padding:8px; 
}

  .reaction{
    color:hsl(0, 100%, 67%) ; 
 }
 .memory{
   color: hsl(39, 100%, 56%);

 }
 .verbal{
   color: hsl(166, 100%, 37%);

 }
 .visual{
   color: hsl(234, 85%, 45%);

 } 
button{
   padding: 10px;
   border: 0;
   border-radius: 20px;
   background-color: hsl(224, 30%, 27%);
   color: white;
   margin-top: 40px;
}  
.main{
   position: relative;
   margin-left: 28%;
   margin-top: 13%;
 }

.container{
   display: flex;
   flex-direction: row; 
     margin-top: 10%;
   box-shadow: 0 0 10px 10px rgb(209, 209, 209);
   width: 640px;
   border-radius: 20px;

    
} 
@media only screen and (max-width: 768px) {
.container{
   display: flex;
   flex-direction: column;
   width: 300px;
   height: 850px;
   justify-content: center;
   align-items: center;
    
}
.summary{
   padding: 20px 0 0 0;
} 
.summary_div{
   padding: 18px;
}

button{
   padding: 15px;
}
.result{
   margin-top: -70px;
}
} 
 